<div class="login-container">
  <mat-card class="card">
    <h2 class="title">Sign In</h2>

    <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
      <!-- Email -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>

        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <!-- Buttons -->
      <div class="btn-row">
        <button
          mat-raised-button
          color="primary"
          class="submit-btn"
          [disabled]="loading || loginForm.invalid"
          type="submit"
        >
          <mat-progress-spinner
            *ngIf="loading"
            mode="indeterminate"
            diameter="20"
          ></mat-progress-spinner>
          <span *ngIf="!loading">Login</span>
        </button>

        <button
          mat-stroked-button
          color="warn"
          class="reset-btn"
          type="button"
          (click)="resetForm()"
        >
          Reset
        </button>
      </div>

      <!-- Register Link -->
      <div class="signup-link">
        Don’t have an account?
        <a [routerLink]="['/register']">Register</a>
      </div>
    </form>
  </mat-card>
</div>
